body {
  padding-bottom: 40px;
  color: #5a5a5a;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  font-family: "Roboto";

}


.container.marketing{
  background-color: #ffffff;
}

.navbar{
  background-image: linear-gradient(120deg, #155799, #159957);
}

a.navbar-brand{
  color: #ffffff  !important;
}

h2{
  color: #159957;
}

footer{
  font-size: 1.3em;
}

.navbar{
  border-radius: 0;
}

/* Featurettes
------------------------- */


.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 60px;
  }
}
